<a href="https://colab.research.google.com/github/noctxrne/DSA-ICT/blob/main/NumPy_%26_Pandas_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **NumPy**

In [29]:
#1. Create a NumPy array with values from 10 to 49 (inclusive).
# ● Reshape it into a 4x10 matrix.
# ● Then extract the last column from the reshaped matrix

import numpy as np
a1=np.arange(10,50)
a2=np.reshape(a1,(4,10))
print(a2)
print(a2[:9,9])

[[10 11 12 13 14 15 16 17 18 19]
 [20 21 22 23 24 25 26 27 28 29]
 [30 31 32 33 34 35 36 37 38 39]
 [40 41 42 43 44 45 46 47 48 49]]
[19 29 39 49]

In [34]:
# 2. Create two 3×3 matrices:
# One filled with all 5s , One with values from 1 to 9
# ● Add the two matrices
# ● Multiply them element-wise
# ● Then find the transpose of the result

A = np.full((3, 3), 5)
B = np.arange(1, 10).reshape(3, 3)
add=A+B
print("Sum:")
print(add)
multiply=A*B
print("Product:")
print(multiply)
transposes=np.transpose(multiply)
print("Transpose:")
print(transposes)

Sum:
[[ 6  7  8]
 [ 9 10 11]
 [12 13 14]]
Product:
[[ 5 10 15]
 [20 25 30]
 [35 40 45]]
Transpose:
[[ 5 20 35]
 [10 25 40]
 [15 30 45]]

In [37]:
# 3. Create a NumPy array of 15 random integers between 10 and 100.
# ● Replace all values greater than 50 with -1
# ● Count how many values were replaced.

X=np.random.randint(10,101,size=15)
print(X)
replaced=np.where(X>50,-1,X)
print(replaced)
count= np.sum(replaced==-1)
print(count)

[100  23  67  56  68  79  18  29  26  36  71  73  11  58  71]
[-1 23 -1 -1 -1 -1 18 29 26 36 -1 -1 11 -1 -1]
9

In [44]:
# 4. Generate a 5×4 array with random values between 0 and 1 (float).
# ● Find the row with the maximum sum of values.
# ● Normalize each row using the formula

ax = np.random.rand(5, 4)
print(ax)
ax_new=ax.sum(axis=1)
print(ax_new)
max=np.max(ax_new)
print(max)

#Normalise
row_min = ax.min(axis=1).reshape(-1, 1)
row_max = ax.max(axis=1).reshape(-1, 1)
normalised=(ax-row_min)/(row_max-row_min)
print(normalised)

[[0.35193795 0.14106956 0.76561329 0.79348767]
 [0.10352351 0.48035933 0.89334002 0.96485845]
 [0.31108266 0.02577586 0.11599824 0.19180801]
 [0.95558698 0.86320028 0.41138357 0.13883569]
 [0.52441779 0.92118907 0.51160295 0.04619428]]
[2.05210847 2.44208132 0.64466476 2.36900652 2.00340408]
2.442081320991044
[[0.32321051 0.         0.95727528 1.        ]
 [0.         0.43750207 0.91696793 1.        ]
 [1.         0.         0.31622933 0.58194248]
 [1.         0.88688515 0.33369752 0.        ]
 [0.54654441 1.         0.53189879 0.        ]]

In [48]:
# 5. arr = np.array([1, 3, 5, 3, 7, 9, 1, 5, 5])
# ● Find all unique elements
# ● Find the duplicates (elements that appear more than once)

arr = np.array([1, 3, 5, 3, 7, 9, 1, 5, 5])
print("Unique:")
print(np.unique(arr))
elements,counts=np.unique(arr, return_counts=True)
duplicates = elements[counts > 1]
print("Duplicates:")
print(duplicates)

Unique:
[1 3 5 7 9]
Duplicates:
[1 3 5]

In [58]:
# 6. Create a 6×6 NumPy array with values from 1 to 36.
# ● Extract the middle 4×4 submatrix.
# ● Then extract all even numbers from this submatrix

arr1=np.arange(1,37).reshape(6,6)
print(arr1)
extracted=arr1[1:-1,1:-1]
print(extracted)
even=extracted[extracted%2==0]
print(even)

[[ 1  2  3  4  5  6]
 [ 7  8  9 10 11 12]
 [13 14 15 16 17 18]
 [19 20 21 22 23 24]
 [25 26 27 28 29 30]
 [31 32 33 34 35 36]]
[[ 8  9 10 11]
 [14 15 16 17]
 [20 21 22 23]
 [26 27 28 29]]
[ 8 10 14 16 20 22 26 28]

In [64]:
# 7. Generate an array of shape (3, 4) with values from 0 to 11.
# ● Reshape it to (2, 6)
# ● Then flatten it into a 1D array
# ● Convert the 1D array back to shape (4, 3)

array=np.arange(0,12).reshape(3,4)
print(array)
print("Reshape it to (2, 6) :")
print(array.reshape(2, 6))
print("Then flatten it into a 1D array :")
print(array.flatten())
print("Convert the 1D array back to shape (4, 3): ")
print(array.reshape(4, 3))

[[ 0  1  2  3]
 [ 4  5  6  7]
 [ 8  9 10 11]]
Reshape it to (2, 6) :
[[ 0  1  2  3  4  5]
 [ 6  7  8  9 10 11]]
Then flatten it into a 1D array :
[ 0  1  2  3  4  5  6  7  8  9 10 11]
Convert the 1D array back to shape (4, 3):
[[ 0  1  2]
 [ 3  4  5]
 [ 6  7  8]
 [ 9 10 11]]

In [70]:
# 8 . Create an array: a = np.array([[1, 2], [3, 4]])
# ● Append a new row [5, 6]
# ● Then append a new column [7, 8, 9]

a = np.array([[1,2],[3,4]])
print(a)
a=np.vstack([a,[5,6]])
print(a)
a=np.column_stack([a,[7, 8, 9]])
print(a)

[[1 2]
 [3 4]]
[[1 2]
 [3 4]
 [5 6]]
[[1 2 7]
 [3 4 8]
 [5 6 9]]

In [73]:
# 9.
# a = np.array([1, 2, 3])
# b = np.array([4, 5, 6])
# c = np.array([7, 8, 9])
# ● Join them into a single array
# ● Reshape the result into a 3×3 matrix
# ● Extract the diagonal elements

a = np.array([1, 2, 3])
b = np.array([4, 5, 6])
c = np.array([7, 8, 9])

arrconc= np.concatenate((a, b, c))
print(arrconc)
matrix=arrconc.reshape(3, 3)
print(matrix)
diag=np.diagonal(matrix)
print(diag)

[1 2 3 4 5 6 7 8 9]
[[1 2 3]
 [4 5 6]
 [7 8 9]]
[1 5 9]

In [80]:
# 10. Create a NumPy array of integers from 1 to 20.
# ● Extract all values that are divisible by 3 or 5.
# ● Count how many such values exist.

array=np.arange(1,20)
print(array)
divisible=array[(array%3==0) | (array%5==0)]
print(divisible)
divisible.size

[ 1  2  3  4  5  6  7  8  9 10 11 12 13 14 15 16 17 18 19]
[ 3  5  6  9 10 12 15 18]

8

# **Pandas**

In [124]:
import seaborn as sns
data=sns.load_dataset("titanic")
# print(data)

# 1. Load the Titanic dataset and display the first 10 rows.
print("\nLoad the Titanic dataset and display the first 10 rows.")
tenRows=data[:10]
print(tenRows)

#2. Find the number of missing values in each column.
print("\nFind the number of missing values in each column.")
data.isna().sum()

#3. Find the percentage of passengers who survived, grouped by gender.
print("\nFind the percentage of passengers who survived, grouped by gender.")

survived_male=(data["survived"]==1) & (data["sex"]=='male')
survived_female=(data["survived"]==1) & (data["sex"]=='female')
percentage_male=((survived_male.sum())/(data["sex"] == 'male').sum())*100
percentage_female=((survived_female.sum())/(data["sex"] == 'female').sum())*100
print(f"Survived Percentage of male is {percentage_male}")
print(f"Survived Percentage of female is {percentage_female}")

# 4. Find the average, median, and standard deviation of passenger ages
print("\nFind the average, median, and standard deviation of passenger ages.")

age=data["age"]
print(f"Mean: {np.mean(age)}")
print(f"Median: {np.median(age)}")
print(f"Standard Deviation: {np.std(age)}")

# 5. Count how many passengers were in each class (pclass)
print("\nCount how many passengers were in each class (pclass)")

firstCount=(data["class"]=='First').sum()
secondCount=(data["class"]=='Second').sum()
thirdCount=(data["class"]=='Third').sum()
print(f"First class had {firstCount}")
print(f"Second class had {secondCount}")
print(f"Third class had {thirdCount}")

# 6. Show all passengers who were female, under age 18, and survived.
print("\nShow all passengers who were female, under age 18, and survived.")

selected=data[(data["survived"]==1) & (data["sex"]=='female') &  (data["age"]<18)]
print(selected)

# 7. Replace missing age values with the median age.
# age = age.fillna(age.median())
print("\nReplace missing age values with the median age.")

age = np.where(age.isna(), age.median(), age)
print(age)

# 8. Create a column age_group with values:
# a. 'Child' for age < 18
# b. 'Adult' for age 18–60
# c. 'Senior' for age > 60

print("\nCreate a column age_group with values")

conditions = [data['age'] < 18, (data['age'] >= 18) & (data['age'] < 60), data['age']>60]
values = ['Child','Adult', 'Senior']
data['age_group'] = np.select(conditions, values, default='Unknown')
print(data)

# 9. Display the top 5 passengers who paid the highest fare
print("\nDisplay the top 5 passengers who paid the highest fare")

highest=data.sort_values("fare",ascending=False)
print(highest.head())

#10. Find the average fare paid, grouped by both pclass and sex.
print("\nFind the average fare paid, grouped by both pclass and sex.")
data.groupby(['pclass', 'sex'])['fare'].mean().round(2)

# 11. Rename the following columns:
# a. 'sex' → 'gender'
# b. 'fare' → 'ticket_fare'
print("\nRename the following columns")
data.rename(columns = {'sex': 'gender', 'fare':'ticket_fare'}, inplace=True)
data.head()

# 12. Count the number of passengers who survived and didn’t survive, grouped by class.
print("\nCount the number of passengers who survived and didn’t survive, grouped by class.")
print(data.groupby(['pclass', 'survived']).size())

# 13. Find the average age of passengers grouped by both class and gender.
print("\nFind the average age of passengers grouped by both class and gender.")
print(data.groupby(['pclass', 'gender'])['age'].mean().round(2))

Load the Titanic dataset and display the first 10 rows.
   survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0         0       3    male  22.0      1      0   7.2500        S   Third
1         1       1  female  38.0      1      0  71.2833        C   First
2         1       3  female  26.0      0      0   7.9250        S   Third
3         1       1  female  35.0      1      0  53.1000        S   First
4         0       3    male  35.0      0      0   8.0500        S   Third
5         0       3    male   NaN      0      0   8.4583        Q   Third
6         0       1    male  54.0      0      0  51.8625        S   First
7         0       3    male   2.0      3      1  21.0750        S   Third
8         1       3  female  27.0      0      2  11.1333        S   Third
9         1       2  female  14.0      1      0  30.0708        C  Second

     who  adult_male deck  embark_town alive  alone
0    man        True  NaN  Southampton    no  False
1  woman       False    C    Cherbourg   yes  False
2  woman       False  NaN  Southampton   yes   True
3  woman       False    C  Southampton   yes  False
4    man        True  NaN  Southampton    no   True
5    man        True  NaN   Queenstown    no   True
6    man        True    E  Southampton    no   True
7  child       False  NaN  Southampton    no  False
8  woman       False  NaN  Southampton   yes  False
9  child       False  NaN    Cherbourg   yes  False

Find the number of missing values in each column.

Find the percentage of passengers who survived, grouped by gender.
Survived Percentage of male is 18.890814558058924
Survived Percentage of female is 74.20382165605095

Find the average, median, and standard deviation of passenger ages.
Mean: 29.69911764705882
Median: nan
Standard Deviation: 14.516321150817317

Count how many passengers were in each class (pclass)
First class had 216
Second class had 184
Third class had 491

Show all passengers who were female, under age 18, and survived.
     survived  pclass     sex    age  sibsp  parch      fare embarked   class  \
9           1       2  female  14.00      1      0   30.0708        C  Second
10          1       3  female   4.00      1      1   16.7000        S   Third
22          1       3  female  15.00      0      0    8.0292        Q   Third
39          1       3  female  14.00      1      0   11.2417        C   Third
43          1       2  female   3.00      1      2   41.5792        C  Second
58          1       2  female   5.00      1      2   27.7500        S  Second
68          1       3  female  17.00      4      2    7.9250        S   Third
84          1       2  female  17.00      0      0   10.5000        S  Second
156         1       3  female  16.00      0      0    7.7333        Q   Third
172         1       3  female   1.00      1      1   11.1333        S   Third
184         1       3  female   4.00      0      2   22.0250        S   Third
208         1       3  female  16.00      0      0    7.7500        Q   Third
233         1       3  female   5.00      4      2   31.3875        S   Third
237         1       2  female   8.00      0      2   26.2500        S  Second
307         1       1  female  17.00      1      0  108.9000        C   First
329         1       1  female  16.00      0      1   57.9792        C   First
381         1       3  female   1.00      0      2   15.7417        C   Third
389         1       2  female  17.00      0      0   12.0000        C  Second
435         1       1  female  14.00      1      2  120.0000        S   First
446         1       2  female  13.00      0      1   19.5000        S  Second
448         1       3  female   5.00      2      1   19.2583        C   Third
469         1       3  female   0.75      2      1   19.2583        C   Third
479         1       3  female   2.00      0      1   12.2875        S   Third
504         1       1  female  16.00      0      0   86.5000        S   First
530         1       2  female   2.00      1      1   26.0000        S  Second
535         1       2  female   7.00      0      2   26.2500        S  Second
618         1       2  female   4.00      2      1   39.0000        S  Second
644         1       3  female   0.75      2      1   19.2583        C   Third
689         1       1  female  15.00      0      1  211.3375        S   First
691         1       3  female   4.00      0      1   13.4167        C   Third
720         1       2  female   6.00      0      1   33.0000        S  Second
750         1       2  female   4.00      1      1   23.0000        S  Second
777         1       3  female   5.00      0      0   12.4750        S   Third
780         1       3  female  13.00      0      0    7.2292        C   Third
781         1       1  female  17.00      1      0   57.0000        S   First
830         1       3  female  15.00      1      0   14.4542        C   Third
853         1       1  female  16.00      0      1   39.4000        S   First
875         1       3  female  15.00      0      0    7.2250        C   Third

       who  adult_male deck  embark_town alive  alone
9    child       False  NaN    Cherbourg   yes  False
10   child       False    G  Southampton   yes  False
22   child       False  NaN   Queenstown   yes   True
39   child       False  NaN    Cherbourg   yes  False
43   child       False  NaN    Cherbourg   yes  False
58   child       False  NaN  Southampton   yes  False
68   woman       False  NaN  Southampton   yes  False
84   woman       False  NaN  Southampton   yes   True
156  woman       False  NaN   Queenstown   yes   True
172  child       False  NaN  Southampton   yes  False
184  child       False  NaN  Southampton   yes  False
208  woman       False  NaN   Queenstown   yes   True
233  child       False  NaN  Southampton   yes  False
237  child       False  NaN  Southampton   yes  False
307  woman       False    C    Cherbourg   yes  False
329  woman       False    B    Cherbourg   yes  False
381  child       False  NaN    Cherbourg   yes  False
389  woman       False  NaN    Cherbourg   yes   True
435  child       False    B  Southampton   yes  False
446  child       False  NaN  Southampton   yes  False
448  child       False  NaN    Cherbourg   yes  False
469  child       False  NaN    Cherbourg   yes  False
479  child       False  NaN  Southampton   yes  False
504  woman       False    B  Southampton   yes   True
530  child       False  NaN  Southampton   yes  False
535  child       False  NaN  Southampton   yes  False
618  child       False    F  Southampton   yes  False
644  child       False  NaN    Cherbourg   yes  False
689  child       False    B  Southampton   yes  False
691  child       False  NaN    Cherbourg   yes  False
720  child       False  NaN  Southampton   yes  False
750  child       False  NaN  Southampton   yes  False
777  child       False  NaN  Southampton   yes   True
780  child       False  NaN    Cherbourg   yes   True
781  woman       False    B  Southampton   yes  False
830  child       False  NaN    Cherbourg   yes  False
853  woman       False    D  Southampton   yes  False
875  child       False  NaN    Cherbourg   yes   True

Replace missing age values with the median age.
[22.   38.   26.   35.   35.   28.   54.    2.   27.   14.    4.   58.
 20.   39.   14.   55.    2.   28.   31.   28.   35.   34.   15.   28.
  8.   38.   28.   19.   28.   28.   40.   28.   28.   66.   28.   42.
 28.   21.   18.   14.   40.   27.   28.    3.   19.   28.   28.   28.
 28.   18.    7.   21.   49.   29.   65.   28.   21.   28.5   5.   11.
 22.   38.   45.    4.   28.   28.   29.   19.   17.   26.   32.   16.
 21.   26.   32.   25.   28.   28.    0.83 30.   22.   29.   28.   28.
 17.   33.   16.   28.   23.   24.   29.   20.   46.   26.   59.   28.
 71.   23.   34.   34.   28.   28.   21.   33.   37.   28.   21.   28.
 38.   28.   47.   14.5  22.   20.   17.   21.   70.5  29.   24.    2.
 21.   28.   32.5  32.5  54.   12.   28.   24.   28.   45.   33.   20.
 47.   29.   25.   23.   19.   37.   16.   24.   28.   22.   24.   19.
 18.   19.   27.    9.   36.5  42.   51.   22.   55.5  40.5  28.   51.
 16.   30.   28.   28.   44.   40.   26.   17.    1.    9.   28.   45.
 28.   28.   61.    4.    1.   21.   56.   18.   28.   50.   30.   36.
 28.   28.    9.    1.    4.   28.   28.   45.   40.   36.   32.   19.
 19.    3.   44.   58.   28.   42.   28.   24.   28.   28.   34.   45.5
 18.    2.   32.   26.   16.   40.   24.   35.   22.   30.   28.   31.
 27.   42.   32.   30.   16.   27.   51.   28.   38.   22.   19.   20.5
 18.   28.   35.   29.   59.    5.   24.   28.   44.    8.   19.   33.
 28.   28.   29.   22.   30.   44.   25.   24.   37.   54.   28.   29.
 62.   30.   41.   29.   28.   30.   35.   50.   28.    3.   52.   40.
 28.   36.   16.   25.   58.   35.   28.   25.   41.   37.   28.   63.
 45.   28.    7.   35.   65.   28.   16.   19.   28.   33.   30.   22.
 42.   22.   26.   19.   36.   24.   24.   28.   23.5   2.   28.   50.
 28.   28.   19.   28.   28.    0.92 28.   17.   30.   30.   24.   18.
 26.   28.   43.   26.   24.   54.   31.   40.   22.   27.   30.   22.
 28.   36.   61.   36.   31.   16.   28.   45.5  38.   16.   28.   28.
 29.   41.   45.   45.    2.   24.   28.   25.   36.   24.   40.   28.
  3.   42.   23.   28.   15.   25.   28.   28.   22.   38.   28.   28.
 40.   29.   45.   35.   28.   30.   60.   28.   28.   24.   25.   18.
 19.   22.    3.   28.   22.   27.   20.   19.   42.    1.   32.   35.
 28.   18.    1.   36.   28.   17.   36.   21.   28.   23.   24.   22.
 31.   46.   23.   28.   39.   26.   21.   28.   20.   34.   51.    3.
 21.   28.   28.   28.   33.   28.   44.   28.   34.   18.   30.   10.
 28.   21.   29.   28.   18.   28.   28.   19.   28.   32.   28.   28.
 42.   17.   50.   14.   21.   24.   64.   31.   45.   20.   25.   28.
 28.    4.   13.   34.    5.   52.   36.   28.   30.   49.   28.   29.
 65.   28.   50.   28.   48.   34.   47.   48.   28.   38.   28.   56.
 28.    0.75 28.   38.   33.   23.   22.   28.   34.   29.   22.    2.
  9.   28.   50.   63.   25.   28.   35.   58.   30.    9.   28.   21.
 55.   71.   21.   28.   54.   28.   25.   24.   17.   21.   28.   37.
 16.   18.   33.   28.   28.   26.   29.   28.   36.   54.   24.   47.
 34.   28.   36.   32.   30.   22.   28.   44.   28.   40.5  50.   28.
 39.   23.    2.   28.   17.   28.   30.    7.   45.   30.   28.   22.
 36.    9.   11.   32.   50.   64.   19.   28.   33.    8.   17.   27.
 28.   22.   22.   62.   48.   28.   39.   36.   28.   40.   28.   28.
 28.   24.   19.   29.   28.   32.   62.   53.   36.   28.   16.   19.
 34.   39.   28.   32.   25.   39.   54.   36.   28.   18.   47.   60.
 22.   28.   35.   52.   47.   28.   37.   36.   28.   49.   28.   49.
 24.   28.   28.   44.   35.   36.   30.   27.   22.   40.   39.   28.
 28.   28.   35.   24.   34.   26.    4.   26.   27.   42.   20.   21.
 21.   61.   57.   21.   26.   28.   80.   51.   32.   28.    9.   28.
 32.   31.   41.   28.   20.   24.    2.   28.    0.75 48.   19.   56.
 28.   23.   28.   18.   21.   28.   18.   24.   28.   32.   23.   58.
 50.   40.   47.   36.   20.   32.   25.   28.   43.   28.   40.   31.
 70.   31.   28.   18.   24.5  18.   43.   36.   28.   27.   20.   14.
 60.   25.   14.   19.   18.   15.   31.    4.   28.   25.   60.   52.
 44.   28.   49.   42.   18.   35.   18.   25.   26.   39.   45.   42.
 22.   28.   24.   28.   48.   29.   52.   19.   38.   27.   28.   33.
  6.   17.   34.   50.   27.   20.   30.   28.   25.   25.   29.   11.
 28.   23.   23.   28.5  48.   35.   28.   28.   28.   36.   21.   24.
 31.   70.   16.   30.   19.   31.    4.    6.   33.   23.   48.    0.67
 28.   18.   34.   33.   28.   41.   20.   36.   16.   51.   28.   30.5
 28.   32.   24.   48.   57.   28.   54.   18.   28.    5.   28.   43.
 13.   17.   29.   28.   25.   25.   18.    8.    1.   46.   28.   16.
 28.   28.   25.   39.   49.   31.   30.   30.   34.   31.   11.    0.42
 27.   31.   39.   18.   39.   33.   26.   39.   35.    6.   30.5  28.
 23.   31.   43.   10.   52.   27.   38.   27.    2.   28.   28.    1.
 28.   62.   15.    0.83 28.   23.   18.   39.   21.   28.   32.   28.
 20.   16.   30.   34.5  17.   42.   28.   35.   28.   28.    4.   74.
  9.   16.   44.   18.   45.   51.   24.   28.   41.   21.   48.   28.
 24.   42.   27.   31.   28.    4.   26.   47.   33.   47.   28.   15.
 20.   19.   28.   56.   25.   33.   22.   28.   25.   39.   27.   19.
 28.   26.   32.  ]

Create a column age_group with values
     survived  pclass     sex   age  sibsp  parch     fare embarked   class  \
0           0       3    male  22.0      1      0   7.2500        S   Third
1           1       1  female  38.0      1      0  71.2833        C   First
2           1       3  female  26.0      0      0   7.9250        S   Third
3           1       1  female  35.0      1      0  53.1000        S   First
4           0       3    male  35.0      0      0   8.0500        S   Third
..        ...     ...     ...   ...    ...    ...      ...      ...     ...
886         0       2    male  27.0      0      0  13.0000        S  Second
887         1       1  female  19.0      0      0  30.0000        S   First
888         0       3  female   NaN      1      2  23.4500        S   Third
889         1       1    male  26.0      0      0  30.0000        C   First
890         0       3    male  32.0      0      0   7.7500        Q   Third

       who  adult_male deck  embark_town alive  alone age_group
0      man        True  NaN  Southampton    no  False     Adult
1    woman       False    C    Cherbourg   yes  False     Adult
2    woman       False  NaN  Southampton   yes   True     Adult
3    woman       False    C  Southampton   yes  False     Adult
4      man        True  NaN  Southampton    no   True     Adult
..     ...         ...  ...          ...   ...    ...       ...
886    man        True  NaN  Southampton    no   True     Adult
887  woman       False    B  Southampton   yes   True     Adult
888  woman       False  NaN  Southampton    no  False   Unknown
889    man        True    C    Cherbourg   yes   True     Adult
890    man        True  NaN   Queenstown    no   True     Adult

[891 rows x 16 columns]

Display the top 5 passengers who paid the highest fare
     survived  pclass     sex   age  sibsp  parch      fare embarked  class  \
679         1       1    male  36.0      0      1  512.3292        C  First
258         1       1  female  35.0      0      0  512.3292        C  First
737         1       1    male  35.0      0      0  512.3292        C  First
88          1       1  female  23.0      3      2  263.0000        S  First
438         0       1    male  64.0      1      4  263.0000        S  First

       who  adult_male deck  embark_town alive  alone age_group
679    man        True    B    Cherbourg   yes  False     Adult
258  woman       False  NaN    Cherbourg   yes   True     Adult
737    man        True    B    Cherbourg   yes   True     Adult
88   woman       False    C  Southampton   yes  False     Adult
438    man        True    C  Southampton    no  False    Senior

Find the average fare paid, grouped by both pclass and sex.

Rename the following columns

Count the number of passengers who survived and didn’t survive, grouped by class.
pclass  survived
1       0            80
        1           136
2       0            97
        1            87
3       0           372
        1           119
dtype: int64

Find the average age of passengers grouped by both class and gender.
pclass  gender
1       female    34.61
        male      41.28
2       female    28.72
        male      30.74
3       female    21.75
        male      26.51
Name: age, dtype: float64