<a href="https://colab.research.google.com/github/noctxrne/my_first_repository/blob/main/PRACTICE_EXERCISES_ON_PYTHON_BASICS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **01**

1. Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:
import math
radius=float(input("Enter radius: "))
area= math.pi*radius**2
print(f"Area of circle is {area}")

Enter radius: 3
Area of circle is 28.274333882308138

2. Write a Python Program to accept the details of a student like name, roll
number and mark and display it.
Sample input: Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Sample output: Name: Anisha
Roll No: 21
Mark: 78

In [ ]:
name=input("Enter name: ")
rollno=int(input("Enter roll number: "))
marks=float(input("Enter marks: "))
print(f"Name: {name}")
print(f"Roll no: {rollno}")
print(f"Marks: {marks}")

Enter name: Saketh
Enter roll number: 21
Enter marks: 50
Name: Saketh
Roll no: 21
Marks: 50.0

3. Write a Python program to get the largest number from a list.
Sample input: 12, 3, 47, 10
Sample output: 47 is the largest number.

In [ ]:
numberList=[0, 3, 47, 10]
large=0
for i in range(len(numberList)):
  if numberList[i]>large:
    large=numberList[i]

print(f"{large} is the largest number")

47 is the largest number

4. Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.
Sample input: 1….10
Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [ ]:
list=[1,2,3,4,5,6,7,8,9,10]
sum=0
pnum=0
for i in range(len(list)):
  if(i!=0):
    pnum=list[i-1]
  sum=pnum+list[i]
  print(f"Current Number: {list[i]}")
  print(f"Previous Number: {pnum}")
  print(f"Sum: {sum}")

Current Number: 1
Previous Number: 0
Sum: 1
Current Number: 2
Previous Number: 1
Sum: 3
Current Number: 3
Previous Number: 2
Sum: 5
Current Number: 4
Previous Number: 3
Sum: 7
Current Number: 5
Previous Number: 4
Sum: 9
Current Number: 6
Previous Number: 5
Sum: 11
Current Number: 7
Previous Number: 6
Sum: 13
Current Number: 8
Previous Number: 7
Sum: 15
Current Number: 9
Previous Number: 8
Sum: 17
Current Number: 10
Previous Number: 9
Sum: 19

5. Write a Python program to print only those numbers which are divisible
of 5.
Sample input: 10, 20,33,46,55 Sample output: 10, 20, 55

In [ ]:
list=[1,45,67,354,75,20]
for num in list:
  if(num%5==0):
    print(num)

45
75
20

6. Write a Python program to check whether a number is prime or not.
Sample input: Enter the number: 3
Sample output: 3 is a prime number.

In [ ]:
num=int(input("Enter number: "))
count=0
if num<= 1:
    print(f"{num} is neither prime nor composite")
else:
  for i in range(2, int(num**0.5) + 1):
    if num%i==0:
      count=1
if count==1:
  print(f"{num} is not prime")
else:
  print(f"{num} is prime")

Enter number: 23
23 is prime

7. Write a Python program to reverse a list using for loop.
Sample input: 10,40,30,70
Sample output: 70,30,40,10

In [ ]:
list=[1,45,67,354,75,20]
for num in range(len(list)-1,-1,-1):
  if num!=0:
    print(list[num],end=",")
  else:
    print(list[num])

20,75,354,67,45,1

8. Write a Python program to print the following pattern.
*
**
***
****

In [ ]:
for i in range(1,5):
  for j in range(1,i+1):
    print("*",end="")
  print("")

*
**
***
****

9. Write a Python program to find the maximum of three numbers
Sample input: 34,12,7
Sample output: 34

In [ ]:
numbers=input(("Enter 3 numbers separated by commas: "))
num1=numbers.split(",")[0]
num2=numbers.split(",")[1]
num3=numbers.split(",")[2]
large=0
for i in range(1,4):
  if num1>num2:
    large=num1
  else:
    large=num2
  if num3>large:
    large=num3

print(f"{large} is the largest number")

Enter 3 numbers separated by commas: 4,782,34
782 is the largest number

10. Write a Python program to construct the following pattern, using a
nested for loop.
*
**
***
****
*****
****
***
**
*

In [ ]:
for i in range(1,10):
  if(i<6):
    for j in range(1,i+1):
      print("*",end="")
  else:
    for j in range(10-i,0,-1):
      print("*",end="")
  print("")

*
**
***
****
*****
****
***
**
*

# **02**

1. Write a Python program to check whether a given number is positive, negative,  or zero.

In [ ]:
num=int(input("Enter number: "))
if(num>0):
  print(f"{num} is positive")
elif(num<0):
  print(f"{num} is negative")
else:
  print("Number is zero")

Enter number: 0
Number is zero

2. Write a program that takes an integer as input and prints whether it is odd or even.

In [ ]:
num=int(input("Enter number: "))
if num%2==0:
  print(f"{num} is even")
else:
  print(f"{num} is odd")

Enter number: 4
4 is even

3. Take a student's marks as input and print their grade based on the following:
▪ 90-100 → A
▪ 80-89 → B
▪ 70-79 → C
▪ 60-69 → D
▪ Below 60 → Fail

In [ ]:
marks=float(input("Enter marks: "))
if(marks>=90 and marks<=100):
  print("Grade A")
elif(marks>=80 and marks<=89):
  print("Grade B")
if(marks>=70 and marks<=79):
  print("Grade C")
elif(marks>=60 and marks<=69):
  print("Grade D")
else:
  print("Fail")

Enter marks: 67
Grade D

4. Write a program to check if a given year is a leap year or not.

In [ ]:
year=int(input("Enter year: "))
if year%4==0 and year%100!=0 or year%400==0:
  print(f"{year} is a leap year")
else:
  print(f"{year} is not a leap year")

Enter year: 2012
2012 is a leap year

5. Print Numbers from 1 to N
o Take an integer input N and print all numbers from 1 to N using a for loop.

In [ ]:
num=int(input("Enter number: "))
for i in range(1,num+1):
  print(i)

Enter number: 10
1
2
3
4
5
6
7
8
9
10

6. Write a program that takes an integer N as input and prints the sum of the first N natural numbers.

In [ ]:
num=int(input("Enter number: "))
sum=0
for i in range(1,num+1):
  sum+=i
print(f"Sum of first {num} natural numbers: {sum}")

Enter number: 10
Sum of first 10 natural numbers: 55

7. Take a number as input and print its multiplication table up to 10.

In [ ]:
num=int(input("Enter number: "))
product=1
for i in range(1,11):
  product=i*num
  print(f"{num} x {i} = {product}")

Enter number: 5
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

8. Write a Python program to calculate the factorial of a given number using a loop

In [ ]:
num=int(input("Enter number: "))
factorial=1
for i in range(1,num+1):
  factorial*=i
print(f"Factorial of {num} is {factorial}")

Enter number: 4
Factorial of 4 is 24

9. Take an integer input and print its reverse.

In [ ]:
digit=int(input("Enter number: "))
lnum=digit
rnum=0
while lnum!=0:
  rnum=int(digit%10)
  print(f"{rnum}",end="")
  digit=int(lnum/10)
  lnum=digit

Enter number: 1234056
6504321

10. Write a program that takes a number and prints the count of its digits

In [ ]:
num=int(input("Enter number: "))
digit=num
count=0
while digit!=0:
  digit=int(digit/10)
  count+=1
print(f"{num} has {count} number of digits")

Enter number: 10345
10345 has 5 number of digits

11. Right-Angled Triangle Pattern
*
**
***
****
o Take an integer N as input and print a right-angled triangle of stars.

In [ ]:
num=int(input("Enter number: "))
for i in range(1,num+1):
  for j in range(1,i+1):
    print("*",end="")
  print("")

Enter number: 3
*
**
***

12. Number Pyramid Pattern
 1
 121
12321
1234321
o Write a program that takes an integer N and prints a pyramid pattern.

In [ ]:
num=int(input("Enter number: "))
for i in range(1, num + 1):
    for s in range(1, num - i + 1):
        print(" ", end="")
    for j in range(1, i + 1):
        print(j, end="")
    for j in range(i - 1, 0, -1):
        print(j, end="")
    print("")

Enter number: 5
    1
   121
  12321
 1234321
123454321

13. Print the first 5 odd numbers using a loop and break statement.

In [ ]:
counter = 0
for i in range(10):
  if i % 2 != 0:
    print(i)
    counter += 1
  if counter == 5:
    break

1
3
5
7
9

14. Print numbers from 1 to 20 but skip the ones that are multiples of 3.

In [ ]:
for i in range(1, 21):
  if i % 3 != 0:
    print(i)

1
2
4
5
7
8
10
11
13
14
16
17
19
20

15. Write a program where pass is used in an if condition, but the loop continues execution

In [ ]:
for i in range (1,10):
  if i%2==0:
    print(i)
  else:
    pass

2
4
6
8

16. Print the first N terms of the Fibonacci sequence.

In [ ]:
num=int(input("Enter number: "))
a=0
b=1
for i in range(1,num+1):
    print(a,end=" ")
    temp=a+b
    a=b
    b=temp

Enter number: 3
0 1 1

17. Write a program to check if a given number is prime.

In [ ]:
num=int(input("Enter number: "))
count=0
if num<=1:
    print(f"{num} is neither prime nor composite")
else:
  for i in range(2, int(num**0.5) + 1):
    if num%i==0:
      count=1
if count==1:
  print(f"{num} is not prime")
else:
  print(f"{num} is prime")

18. Write a program to calculate the sum of the digits of a given number.

In [ ]:
digit=int(input("Enter number: "))
num=digit
lnum=digit
rnum=0
sum=0
while lnum!=0:
  rnum=int(digit%10)
  sum+=rnum
  digit=int(lnum/10)
  lnum=digit
print(f"Sum of digits of {num} is {sum}")

Enter number: 12345
Sum of digits of 12345 is 25

19. Check if a given number is an Armstrong number (e.g., 153 → 1³ + 5³ + 3³ = 153).

In [ ]:
digit=int(input("Enter number: "))
num=digit
lnum=digit
rnum=0
sum=0
while lnum!=0:
  rnum=int(digit%10)
  sum+=rnum**3
  digit=int(lnum/10)
  lnum=digit
if num==sum:
  print(f"{num} is an Armstrong number")
else:
  print(f"{num} is not an Armstrong number")

Enter number: 123
123 is not an Armstrong number

20. Take a string as input and print it in reverse order using a loop

In [ ]:
string=input("Enter string: ")
for i in range(len(string)-1,-1,-1):
  print(string[i],end="")

Enter string: hello
olleh

# **03**

In [ ]:
#1. Create a program that greets a user by name. Ask for the user's name and printa personalized message, such as "Welcome to Data Analytics, [Name]!"
name=input('Enter Your Name : ')
print(f'Welcome to Data Analytics,{name}!')

Enter Your Name : Saketh
Welcome to Data Analytics,Saketh!

In [ ]:
#2.Define a variable for your favorite snack. Print a fun sentence that includes this variable, like "I love munching on [Snack] during meetings!"
snack='Banana chips'
print(f'I love munching on {snack} during meetings!')

I love munching on Banana chips during meetings!

In [ ]:
#3. Ifyour team completed 15 tasks in a week and plans to double that next week,calculate and print how many tasks you expect to complete next week.
task=15
expected_task=task*2
print(f'Expected task to complete next week {expected_task}')

Expected task to complete next week 30

In [ ]:
#4.Create two variables for income and expenses. Calculate and print your savingsfor the month using the formula: Savings = Income- Expenses. Use realistic numbers.
your_income=int(input('Enter your Income: '))
your_expense=int(input('Enter your Expense: '))
savings = your_income - your_expense
print(f'Your savings for this month is {savings}' )

Enter your Income: 23000
Enter your Expense: 7000
Your savings for this month is 16000

In [ ]:
#5.  Imagine you're organizing a movie night. Create variables for the number of
#  friends invited and the number of popcorn bags you need per friend. Calculate
#  the total number of popcorn bags needed.
friends=int(input('Enter number of friends  invited : '))
popcorn_bags=int(input('Number of popcorn bags per friend : '))
total_popcorn=friends*popcorn_bags
print(f'{total_popcorn} popcorn bags is needed')

Enter number of friends  invited : 3
Number of popcorn bags per friend : 3
9 popcorn bags is needed

In [ ]:
#6. Write a program that asks for a product rating (1-5) and checks if the rating is
#  above average (greater than 3). Print a message based on the rating.
rating=int(input('Enter the your rating  (1 - 5) :'))
if(rating>3):
  print(f'{rating} is an Above average rating')
else:
  print(f'{rating} is a Below average rating')

Enter the your rating  (1 - 5) :4
4 is an Above average rating

In [ ]:
#7. Yousold 50 items last month, 75 items this month, and 100 items next month.
#  Write a program to calculate the average number of items sold over these three
#  months.
month1=50
month2=75
month3=100
total_item_sold=(month1+month2+month3)/3
print(f'Average items sold over 3 months: {total_item_sold}')

Average items sold over 3 months: 75.0

In [ ]:
#8.  If you invest $500 with a return rate of 4% per year for 3 years, calculate and
#  print the total amount you will have using simple interest
invest=500
return_rate=0.04
years=3
interest=invest*return_rate*years
total_amount=invest+interest
print(f'Total amound is {total_amount}')

Total amound is 560.0

In [ ]:
#9.  Foraparty, calculate how much cake you need if each guest (you have 10) eats
#  1 slice and each cake has 8 slices. Print how many cakes you need.
import math
cake_have=10
sliced_cake=8
cake_needed=math.ceil(cake_have / sliced_cake)
print(f'Total cake we you needed :{cake_needed}')

Total cake we you needed :2

In [ ]:
#10. Write a program that analyzes a short text of your choice (like a company slogan)
#  and checks if it has more than 10 characters. Print a fun message based on this
#  check.
text='Sreesanth'
if(len(text)>=7):
  print('Its a too long !')
else:
  print('Its a short text')

Its a too long !

In [ ]:
#11. Imagine you have two products with sales figures: product_A_sales = 250 and product_B_sales = 300. Write a program to determine which product sold more.
product_a_sales = int(input('Enter sales of product A: '))
product_b_sales = int(input('Enter sales of product B: '))
if product_a_sales > product_b_sales:
  print('Product A sold more than product B')
elif product_a_sales == product_b_sales:
  print('Product and product B sales were equal')
else:
  print('Product B sold more than product A')

Enter sales of product A: 3456
Enter sales of product B: 4535
Product B sold more than product A

In [ ]:
#12.  If a student received $750 out of a total of $1000 as a scholarship, calculate the percentage of the scholarship and print a congratulatory message.
total_scholarship = 1000
amount_recieved = 750
percentage = (amount_recieved / total_scholarship) * 100
print('Percentage of scholarship recieved: ', percentage, '%')

Percentage of scholarship recieved:  75.0 %

In [ ]:
#13. Create a variable named favorite_color and assign it your favorite color.Print the variable.

favourite_color = 'blue '
print(favourite_color)

blue

In [ ]:
#14.Calculate the sum of two numbers, a = 10 and b = 20, and print the result
a = 10
b = 20
print(a + b)

30

In [ ]:
#15. Create variables for the length and width of a rectangle. Calculate and print the area
print('Rectangle area calculator')
length = int(input('Enter length: '))
width = int(input('Enter width: '))
print(f'The area of the rectangle is {length * width}')

Rectangle area calculator
Enter length: 12
Enter width: 11
The area of the rectangle is 132

In [ ]:
#16. Write a program that checks if a number (e.g., num = 15) is even or odd.
number = int(input('Enter a number: '))
if number % 2 == 0:
  print('The number is even')
else:
  print('The number is odd')

Enter a number: 34
The number is even

In [ ]:
#17. Create a program that calculates the average of three numbers: 10, 20, and 30, and prints the result.
num_1 = 10
num_2 = 20
num_3 = 30
print('Average is ', (num_1 + num_2 + num_3)/3)

Average is  20.0

In [ ]:
#18. Create a program that calculates the area of a circle with a radius of 7.Use the formula: Area= pi * radius squared.

radius = 7
pi = 3.14159265
area = pi * (radius ** 2)
print(area)

In [ ]:
#19. Write a program that checks if a given string text = "Python" has more than 6 characters
string_1 = 'Python'
length = len(string_1)
if leng > 6:
  print('string has more than six characters')
elif length < 6:
  print('string has less than six characters')
else:
  print('string has six characters')

string has six characters

In [ ]:
#20. Write a program that finds the maximum of two numbers, num1 = 15 and num2 = 25.

num1 = 15
num2 = 25
maximum = max(num1, num2)
print(maximum)

25

In [ ]:
#21. Write a program that calculates the percentage of a student's marks. If the total marks are 500 and the obtained marks are 400, print the percentage.

total = int(input('Enter total marks: '))
marks = int(input("Enter marks recieved: "))
percentage_scored = (marks / total) * 100
print(f'Your percentage is {int(percentage_scored)} %')

Enter total marks: 500
Enter marks recieved: 400
Your percentage is 80 %